<html>
  <head>
    <title><%= user.name %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="header">
      <h1 class="header-item header-item-one">Profile Template App</h1>
      <span class="header-item">
        <a href="/">Profile</a>
      </span>
    </div>
    <h2 class="user-name"><%= user.name %></h2>
    <img class="user-pic" src="" alt="user profile" />
    <div class="user-info">
      <h3>User Info</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <h3>Friends</h3>
    <ul>
      <li>Robert</li>
      <li>Sara</li>
      <li>Tom</li>
      <li>Pat</li>
    </ul>
    <script src="/script.js" ></script>
  </body>
</html>