<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

    <a href="/dashboard">Dashboard</a>
    <a href="/search">Search</a>
    <a href="/new_article">Create a new article</a>

    <form action="/article/new" method="post" id="new-articles-1">
      <input name="title" placeholder="title" />
      <input name="image" placeholder="image link" />
      <input name="description" placeholder="description" />
      <input name="tags" placeholder="tags" />
      <input type="submit" />
    </form>

  </body>

</html>